@import "tailwindcss";

:root {
  --color-bg: #F8F6F2;
  --color-primary: #7A8B7A;
  --color-primary-dark: #5F6E5F;
  --color-text: #2B2B2B;
  --color-text-soft: #6B6B6B;
  --color-border: #D8D3CC;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  animation: dash 0.9s ease-in-out;
}

.path.line {
  stroke-dashoffset: 1000;
  animation: dash 0.95s 0.35s ease-in-out forwards;
}

.path.check {
  stroke-dashoffset: -100;
  animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* globals.css */
html {
  scroll-behavior: smooth;
}